@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-50: #faf5ff;
  --primary-100: #f4e8ff;
  --primary-200: #ebd5ff;
  --primary-300: #dab4fe;
  --primary-400: #c184fc;
  --primary-500: #a855f7;
  --primary-600: #9133ea;
  --primary-700: #7a22ce;
  --primary-800: #6621a8;
  --primary-900: #531c87;
  --primary-950: #370764;

  --color-primary: #1a202c;
  --color-secondary: #2d3748;
  --color-accent: #4a5568;
  --color-background: #ffffff;
  --color-text: #000000;

  --text-color-default: #1a1a1a;
  --text-color-primary: #1a1a1a;
  --text-color-secondary: #667085;
  --text-color-tertiary: #828282;
  --text-color-quaternary: #bdbdbd;

  --bg-color-body: #ffffff;
}

[data-theme="dark"] {
  --primary-50: #faf5ff;
  --primary-100: #f4e8ff;
  --primary-200: #ebd5ff;
  --primary-300: #dab4fe;
  --primary-400: #c184fc;
  --primary-500: #a855f7;
  --primary-600: #9133ea;
  --primary-700: #7a22ce;
  --primary-800: #6621a8;
  --primary-900: #531c87;
  --primary-950: #370764;

  --color-primary: #ffffff;
  --color-secondary: #a0aec0;
  --color-accent: #718096;
  --color-background: #1a202c;
  --color-text: #ffffff;

  --text-color-default: #ffffff;
  --text-color-primary: #ffffff;
  --text-color-secondary: #a0aec0;
  --text-color-tertiary: #cbd5e0;
  --text-color-quaternary: #e2e8f0;

  --bg-color-body: #090d1f;
}

.mesh-gradient-header {
  background-color: hsla(333, 0%, 100%, 1);
  background-image: radial-gradient(
      circle at 0% 0%,
      hsla(64, 82%, 77%, 0.35) 3.1210986267166043%,
      transparent 40%
    ),
    radial-gradient(
      circle at 20% 0%,
      hsla(5, 77%, 74%, 0.35) 3.1210986267166043%,
      transparent 40%
    ),
    radial-gradient(
      circle at 40% 0%,
      hsla(315, 77%, 74%, 0.35) 3.1210986267166043%,
      transparent 40%
    ),
    radial-gradient(
      circle at 60% 0%,
      hsla(256, 77%, 74%, 0.35) 3.1210986267166043%,
      transparent 40%
    ),
    radial-gradient(
      circle at 80% 0%,
      hsla(191, 77%, 74%, 0.35) 3.1210986267166043%,
      transparent 40%
    ),
    radial-gradient(
      circle at 100% 0%,
      hsla(152, 77%, 74%, 0.35) 3%,
      transparent 40%
    );
  background-blend-mode: normal, normal, normal, normal, normal, normal;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
